<h1>Photo Gallery</h1>
Sort: <select id="sort-select" name="sort-select" [(ngModel)]="this.sortBy" (change)="changeSorting($event);">
  <option value="title">By Title</option>
  <option value="dateDesc" selected>By Date: Newest first</option>
  <option value="dateAsc">By Date: Oldest first</option>
  <option value="location">By Location</option>
</select>
<br><br>
<div id="photo-table-container">
  <table id="photo-table" [ngSwitch]="imagesMetadata.length">
    <template [ngSwitchCase]="0">
      <tr><td>You haven't uploaded any images yet.</td></tr>
    </template>
    <template ngSwitchDefault>
      <tr *ngFor="let row of rows">
        <td *ngFor="let imageMetadata of imagesMetadataGrid[currentPage - 1][row]" (mouseover)="showControls(imageMetadata);" (mouseout)="hideControls(imageMetadata);" class="photo-table-cell">
          <div id="controls-{{imageMetadata.id}}" class="controls">
            <div class="edit-button" [routerLink]="['/edit-photo-info', imageMetadata.id]"></div>
            <div class="delete-button" (click)="showDeletePhotoModal(imageMetadata);"></div>
          </div>
          <div class="photo-holder">
            <img src="http://localhost:8080/photogallery/rest/thumbnails/{{imageMetadata.id}}" class="photo" (click)="viewPhoto(imageMetadata);"><br>
          </div>
          <div (click)="viewPhoto(imageMetadata);" class="metadata">
            {{imageMetadata.title}}<br>
            {{imageMetadata.shortDateString}}<br>
            {{imageMetadata.location}}
          </div>
        </td>
      </tr>
    </template>
  </table>
  <br>
  <div style="text-align: center;" *ngIf="imagesMetadata.length > 0">
    <span class="pagenav" (click)="goToFirstPage();">&lt;&lt;</span>&nbsp;&nbsp;
    <span class="pagenav" (click)="goToPreviousPage();">&lt;</span>&nbsp;&nbsp;
    Page {{currentPage}} of {{numPages}}&nbsp;&nbsp;
    <span class="pagenav" (click)="goToNextPage();">&gt;</span>&nbsp;&nbsp;
    <span class="pagenav" (click)="goToLastPage();">&gt;&gt;</span>
  </div>
</div>
<br>
<a routerLink="/add-photo"><button>Add Image</button></a>
<modals (deletePhoto)="deletePhoto();"></modals>
